node_modules
.pnpm-store
.next
.turbo
dist
build
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
supabase/.branches
supabase/.temp
supabase/.env
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.cache
playwright-report
test-results
